* {
  box-sizing: border-box;
}

main {
  max-width: 300px;
  margin: 0 auto;
}

form {
  border-radius: 5px;
  padding: 5px;
  display: flex;
}

form input[type='text'] {
  background: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px 8px;
  display: block;
  width: 100%;
}

form button{
  background-color: cyan;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

div.task {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

div.Todo button {
  margin-left: 10px;
}

div h1 {
  display: flex;
  justify-content: center;
}

div.task.done {
  text-decoration: line-through;
}

button.trash {
  background-color: white;
  border: 0;
}

button.delete {
  background-color: red;
  color: white;
  border: 1px solid black;
}